.top{
    font-size: 25px;
    text-align: center;
}

.about{
    margin: 20px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url('https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149025113.jpg');
    background-size: cover;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
    padding: 20px;
}

.projects{
    margin: 20px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
    text-align: left;
    padding: 40px;
}

.contact{
    margin: 20px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
    padding: 20px;
}

.Skills{
    margin: 20px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

footer{
    text-align: right;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

a:link, a:visited {
    color: #00FFFF;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    color: white;
    background: linear-gradient(to top, #138d83, #134E4A);
}